*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --color1: #4E352E;
  --color2: #b38771;
  --bg: #452212;
  --box: 0 0 1rem rgb(0 0 0 / .4);
  --button: 0 2px 4px rgba(0, 0, 0, .5);
}

body{
  font-family: 'Arial', sans-serif;
  background-image: url('./form.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  width: 800px;
  height: 50px;
  background: transparent;
  backdrop-filter: blur(150px);
  box-shadow: var(--box);
  border-radius: 15px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container button{
  font-size: 14px;
  background: var(--bg);
  color: var(--color2);
  border: none;
  border-radius: 7px;
  padding: 8px 10px;
  box-shadow: var(--button);
}

.opt{
  width: 600px; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.opt > a{
  background: transparent;
  font-size: 15px;
  color: var(--bg);
  border: 1px solid var(--bg);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 350ms ease-in;
}

.opt > a:hover{
  background: var(--bg);
  color: var(--color2);
  box-shadow: var(--button);
  transform: scale(.95);
}