*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --color1: #4E352E;
  --color2: #aa866c;
  --bg: #452212;
  --add: #e2a218d8;
  --edit: #294aed;
  --delete: #da1919;
  --dim-black: #000000;
  --dim-white: #f3f3f3;
  --text: 2px 4px 6px rgba(0, 0, 0, .3);
  --button: 0 2px 4px rgba(0, 0, 0, .5);
  --bar: 0 0 1rem rgb(0 0 0 / .7);
}

body{
  font-family: 'Arial', sans-serif;
  background: var(--color2);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  width: 800px;
  height: 100%;
  padding: 30px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form img{
  width: 370px;
  height: 220px;
  object-fit: cover;
  border-radius: 13px;
  box-shadow: var(--bar);
  margin-bottom: 3rem;
}

form input[type="text"], select{
  width: 500px;
  padding: 14px 15px;
  outline: none;
  background: var(--bg);
  color: var(--color2);
  font-size: 15px;
  border: none;
  border-radius: 18px;
  box-shadow: var(--text);
  margin-bottom: .8rem;
}

input[type="file"]{
  display: none;
}

.btn{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn label{
  text-align: center;
  font-size: 13px;
  background: transparent;
  color: var(--bg);
  border: 1.5px solid var(--bg);
  border-radius: 12px;
  width: 300px;
  padding: 11px 0;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.btn label i{
  margin-right: 10px;
  font-size: 15px;
}

.btn label:hover{
  background: var(--bg);
  color: var(--color2);
  transform: scale(.97);
  box-shadow: var(--button);
}

.btn button{
  width: 140px;
  font-size: 13px;
  background: var(--bg);
  color: var(--color2);
  border: none;
  border-radius: 12px;
  padding: 12px 0;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.btn button:hover{
  transform: scale(.95);
  opacity: .9;
}